# Android Studio
.idea/
*.iml
.gradle/
local.properties
/.idea/
/.gradle/
/captures/
/build/
/app/build/
*.log

# Gradle files
/.gradle/
build/

# Android build files
/build/
/captures/
/local.properties

# Miscellaneous
.DS_Store
/.externalNativeBuild
/.cxx/
